
python-telegram-bot==20.3
Flask==2.3.3
requests
beautifulsoup4
pyTelegramBotAPI
aiohttp
telebot
cryptography
psycopg2-binary
python-dotenv
Pillow
arabic-reshaper
python-bidi
reportlab
apscheduler
functools
pytz
